@import "tailwindcss";

@theme {
  /* Surface colors (backgrounds, cards) */
  --color-surface-50: rgb(252, 252, 252);
  --color-surface-100: rgb(246, 246, 246);
  --color-surface-200: rgb(238, 238, 238);
  --color-surface-300: rgb(224, 224, 224);

  /* Secondary colors */
  --color-secondary-100: rgb(232, 240, 247);
  --color-secondary-200: rgb(214, 228, 240);
  --color-secondary-300: rgb(187, 211, 232);
  --color-secondary-400: rgb(159, 193, 223);

  /* Primary blues */
  --color-primary-300: rgb(67, 127, 199);
  --color-primary-400: rgb(48, 106, 178);
  --color-primary-500: rgb(30, 86, 160);
  --color-primary-600: rgb(26, 68, 137);
  --color-primary-700: rgb(22, 49, 114);
  --color-primary-800: rgb(18, 40, 91);
}

body {
  user-select: none;
}

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle (the part that moves) */
::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
