@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  user-select: none;
}

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle (the part that moves) */
::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
